<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bootstrap{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/font/bootstrap-icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

<body>
    <header class="header bg-primary text-white d-flex p-3 align-items-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">FlaskCMDB</span>
        </a>
    </header>
    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column">
            {% include 'sidebar.html' %}
        </div>

        <div class="main-content">
            <main class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </main>
            <footer class="footer mt-auto py-3 bg-light">
                <div class="container">
                    <span class="text-muted">© 2025 FlaskCMDB. All rights reserved.</span>
                </div>
            </footer>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
