<!-- Sidebar -->
<nav class="sidebar d-flex flex-column bg-light p-3 flex-shrink-0">
    <ul class="nav nav-pills flex-column mb-auto flex-grow-1">
        <li class="nav-item">
            <a href="{{ url_for('index.index') }}" class="nav-link active" aria-current="page">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Home Icon">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Dashboard Icon">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{{ url_for('assets.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/x-square.svg') }}" alt="X Square Icon">
                Assets
            </a>
        </li>
        <li>
            <a href="{{ url_for('asset_types.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Asset Types Icon">
                Asset Types
            </a>
        </li>
        <li>
            <a href="{{ url_for('security_functions.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Security Functions Icon">
                Security Functions
            </a>
        </li>
        <li>
            <a href="{{ url_for('implementation_groups.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Implementation Groups Icon">
                Implementation Groups
            </a>
        </li>
        <li>
            <a href="{{ url_for('controls.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Controls Icon">
                Controls
            </a>
        </li>
        <li>
            <a href="{{ url_for('control_frameworks.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Control Frameworks Icon">
                Control Frameworks
            </a>
        </li>
        <li>
            <a href="{{ url_for('safeguards.list') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Safeguards Icon">
                Safeguards
            </a>
        </li>
        <li>
            <a href="{{ url_for('microblog.index') }}" class="nav-link link-dark">
                <img class="bi me-2" width="24" height="24" src="{{ url_for('static', filename='bootstrap/speedometer2.svg') }}" alt="Microblog Icon">
                Microblog
            </a>
        </li>
    </ul>
    <hr>
    <div class="d-flex align-items-center justify-content-between">
        <div class="dropdown">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('users.login') }}">Login</a>
            {% else %}
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ current_user.username }}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('users.profile', username=current_user.username) }}">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Sign out</a></li>
            </ul>
            {% endif %}
        </div>
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
            <i class="bi bi-chevron-left"></i>
        </button>
    </div>
</nav>
